@import url('https://fonts.googleapis.com/css?family=Mouse+Memoirs');
html {
    height: 100%;
    overflow-y: scroll;
    margin: 0px;}
.header{
    text-align: center;
    background-color: #ff0000;
    font-weight: bold;
    padding: 5px;
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
}
.navbar{
    background-color:#000000;
    padding: 10px;
    text-align: center;
    display:flex;
    justify-content:space-around;
    font-family: 'Mouse Memoirs', sans-serif;
}
#subtext{
    font-size: small;
}
body {
    height: 100%;
    background: black;
    margin: 0px;
}
a {
    text-decoration: none;
}

/*.main {*/
/*    height: 100%;*/
/*}*/
.social-image{
    width: 30px;
    margin: 15px;
}
#img{
    width: 100%;
    background-attachment: fixed;
    background-position: center;
}
.footer{
    text-align: center;
    display:flex;
    justify-content:center;
}
.gallery{
    display: block;
    margin:0px;
}
/*.thumbnail-image{*/
/*    display:flex;*/
/*    width:100%;*/
/*    justify-content:center;*/
/*    flex-direction:column;*/
/*}*/
.thumbnail{
    display: flex;
    justify-content:center;
}
.aboutMain{
    display:flex;
}
.leftPane{
    color:#ff0000;
    float: left;
    width:auto;
}
.rightPane{
    float: right;
    width:auto;
}
